*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body,
textarea,
input,
select,
button {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* common */
.section-heading {
    color: #080415;
    font-family: DM Sans;
    font-size: 5.5rem;
    line-height: 1.178;
    letter-spacing: -2.24px;
}

.section-desc {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.667;
}

.container {
    padding: 0;
}

.container-fluid {
    width: 1330px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;

    min-width: 170px;
    line-height: 62px;
    background: #5d3bee;
    text-align: center;

    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
}

.btn:hover {
    opacity: 0.9;
}

/* header    */

.header {
    padding-top: 20px;
    background: #fbfaff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-info {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(93 59 238 / 20%);
}

.header-info__desc {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.navbar-list {
    display: flex;
    column-gap: 43px;
}

.navbar__item {
    color: #51586a;
    font-size: 1.8rem;
}

.navbar__item:hover {
    text-shadow: 0.2px 0 0 currentColor, -0.2px 0 0 currentColor;
}

.hero {
    padding-top: 44px;
    position: relative;
    background: #fbfaff;
}

.hero-content {
    margin-left: -30px;
}

.hero-media__img {
    position: relative;
    z-index: 1;
    max-width: 514px;
    display: block;
}

.hero__cta {
    margin-left: 30px;

    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667;
}

.hero__cta:hover {
    text-decoration: underline;
}

.hero-heading {
    margin-top: 137px;
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -3.2px;
}

.hero-desc {
    margin-top: 20px;
    max-width: 370px;
}

.hero-action {
    margin-top: 50px;
}

.hero-social {
    margin-top: 109px;
    display: flex;
    align-items: center;
}

.hero-social__desc {
    margin-right: 15px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 500;
}

.hero-social__item {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;

    cursor: pointer;
}

.hero-social__item:nth-child(2) {
    margin-left: 0;
}

.hero__big-decor {
    position: absolute;
    bottom: 0;
    left: -110px;
}

.hero__small-decor {
    position: absolute;
    bottom: 0;
    right: 10px;
}

/* service */
.service {
    margin-top: 100px;
}

.service__inner {
    display: flex;
    justify-content: space-between;
}

.service__title {
    padding-left: 99px;

    position: relative;
    max-width: 352px;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -1.68px;
}

.service__title::before {
    position: absolute;
    left: 0;
    top: 22px;

    content: "";
    display: inline-block;
    width: 86px;
    height: 2px;
    background-color: #5d3bee;
}

.service-social {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 36px;
}

.service-social__item {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.service-social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.service-social__item:nth-child(2) .service-social__icon {
    background-color: #fbfaff;
}

.service-social__item:nth-child(3) .service-social__icon {
    background-color: #fee101;
}
.service-social__item:nth-child(4) .service-social__icon {
    background-color: #f00;
}

.service-social__item:nth-child(5) .service-social__icon {
    background-color: #14a800;
}

.service-social__item:nth-child(6) .service-social__icon {
    background-color: transparent;
}

.service-social__item:nth-child(7) .service-social__icon {
    background-color: #7f54b3;
}

.service-social__name {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 500;
}

/* design */

.design {
    margin-top: 140px;
}

.container-content {
    text-align: center;
    margin-bottom: 60px;
}

.design__desc {
    margin-top: 20px;
    max-width: 534px;
    margin-left: auto;
    margin-right: auto;
}

.design-item {
    background: #fbfaff;
    padding: 32px 42px;
}

.design-item__media {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgb(8 4 21 / 5%);
}

.design-item__heading {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.design-item__desc {
    margin-top: 15px;

    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.667;
}

/* project */
.project {
    margin-top: 140px;
    padding: 86px 0;
    background: #5d3bee;
}

.project__inner-heading {
    align-items: flex-end;
    margin-bottom: 70px;
}

.project__bottom {
    row-gap: 30px;
}

.project-heading {
    color: #fff;
}

.project__desc {
    margin-left: 28px;
    max-width: 370px;
    color: #fff;
}

.project-item {
    position: relative;
    background: #fbfaff;
    padding: 23px 24px 23px 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-item__img {
    position: relative;
    max-width: 246px;
    height: 187px;
    object-fit: cover;
    z-index: 1;
}

.project-item__heading {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.project-item__desc {
    margin: 10px 0 20px;
    max-width: 220px;
    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.43;
}

.project-item__link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667;
    text-decoration-line: underline;
}

.project-action {
    text-align: center;
}

.project__link {
    margin-top: 80px;

    background-color: #fff;
    color: #080415;
    margin-left: auto;
}

.project-item__decor {
    position: absolute;
    right: 0px;
    bottom: 0;
}

/* about  */
.about {
    padding-top: 140px;
}

.about__content {
    text-align: center;
}

.about__info {
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
}

.about__desc {
    margin-top: 15px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.about__separate-content,
.about__separate-starts {
    margin-top: 70px;
    max-width: 946px;
    height: 1px;
    background-color: rgb(8 4 21 / 20%);
    margin-left: auto;
    margin-right: auto;
}

.about__separate-starts {
    margin-top: 20px;
}

.about-stats__list {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.about-stats__number {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 1.68px;
    text-decoration-line: underline;
}

.about-stats__info {
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.667;
}

/* feedback*/

.feedback {
    padding: 473px 0 74px;
    margin-top: 375px;
    background: #fbfaff;
}

.feedback__inner {
    position: relative;
}

.feedback-content {
    text-align: center;
}

.feedback__desc {
    margin-top: 20px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.feedback__video {
    position: absolute;
    left: 0;
    right: 0;
    top: -778px;

    max-width: 1170px;
    object-fit: cover;
}

.feedback-list {
    display: flex;
    margin-top: 60px;
    overflow: hidden;
}

.feedback-item {
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item__desc {
    max-width: 679px;
    color: #51586a;
    text-align: center;
    font-size: 2.4rem;
    line-height: 1.667;
    margin-left: auto;
    margin-right: auto;
}

.feedback-item__author {
    margin-top: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback-item__image {
    margin-right: 15px;
    display: flex;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f29764;
    overflow: hidden;
}

.feedback-item__name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}

.feedback-item__info {
    margin-top: 3px;

    color: #51586a;
    font-size: 1.6rem;
    line-height: 1.81;
    text-align: center;
}

.feedback__dots {
    margin-top: 40px;
    width: 144px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.feedback__dot {
    width: 16px;
    height: 16px;
    background-color: rgb(8 4 21 / 20%);
    border-radius: 50%;
}

.feedback__dot--actived {
    width: 12px;
    height: 12px;
    background-color: #5d3bee;
    outline: 1px solid #5d3bee;
    outline-offset: 4px;
}

/* question */

.question {
    padding-top: 95px;
}

.question-list {
    margin-top: 57px;
}

.question-item {
    max-width: 1009px;
    position: relative;
    padding-left: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question__separate {
    position: absolute;
    bottom: 0;
    left: -1px;
    width: 1009px;
    height: 2px;
    background-color: #08182f;
    transition: all 0.5s linear;
}

.question-item__heading {
    margin-bottom: 33px;
    margin-top: 60px;
    /* 1 */
    max-width: 575px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    user-select: none;
    transition: all 0.2s linear;
}

.question__desc {
    max-width: 487px;
    color: #51586a;
    font-size: 1.8rem;
    line-height: 1.667;
    display: none;
}

.question__add {
    margin-bottom: 11px;

    align-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(22 26 28 / 20%);
}

.question__sub {
    display: none;
    width: 20px;
    height: 20px;
    transition: all 0.5s linear;
}

.question__plus {
    width: 20px;
    height: 20px;
}

.question__input:checked ~ .question__content .question__desc {
    display: block;
    margin-bottom: 21px;
}

.question__input:checked ~ .question__content .question-item__heading {
    color: #5d3bee;
    margin: 23px 0;
}

.question__input:checked ~ .question__add {
    align-self: center;
    border-color: rgb(93 59 238 / 20%);
}

.question__input:checked ~ .question__add .question__plus {
    display: none;
}

.question__input:checked ~ .question__add .question__sub {
    display: block;
    color: rgb(93 59 238 / 80%);
}

.question__input:checked ~ .question__separate {
    background-color: #5d3bee;
}

/* atmosphere */

.atmosphere {
    padding: 140px 0 160px;
}

.atmosphere__content {
    text-align: center;
}

.atmosphere__desc {
    margin-top: 20px;
    max-width: 528px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.atmosphere__link {
    display: block;
    margin-top: 30px;
    color: #5d3bee;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -1.28px;
    text-decoration-line: underline;
}

.atmosphere__inner {
    margin-top: 70px;
}

.atmosphere-item__img {
    width: 370px;
    height: 529px;
    object-fit: cover;
    display: block;
}

/* call */

.call__inner {
    position: relative;

    padding: 68px 0;
    background: #fbfaff;
    text-align: center;
    overflow: hidden;
}

.call__heading {
    margin-top: 20px;
}

.call__desc {
    margin-top: 20px;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.call__btn {
    position: relative;
    z-index: 2;
    margin-top: 40px;
}

.call__mobile-decor {
    display: none;
}

.call__decor {
    position: absolute;
}

.call__decor1 {
    bottom: 0;
    left: 0;
}

.call__decor2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.call__decor3 {
    top: 0;
    right: 0;
}

/* footer */
.footer {
    margin-top: 50px;
}

.footer__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__top::after {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 1429px;
    height: 1px;
    background-color: rgb(12 7 32 / 20%);
}

.footer-left {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(93 59 238 / 20%);
}

.footer-info__desc {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.footer-list__item {
    display: flex;
    column-gap: 43px;
}

.footer__item {
    color: #51586a;
    font-size: 1.8rem;
}

.footer__item:hover {
    text-shadow: 0.2px 0 0 currentColor, -0.2px 0 0 currentColor;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px 30px;
}

.footer-content {
    display: flex;
    column-gap: 36px;
}

.footer__copy-right,
.footer__policy,
.footer__teams {
    color: #525771;
    font-size: 1.8rem;
    line-height: 1.667;
}

.footer__teams {
    position: relative;
}

.footer__teams::before {
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    height: 14px;
    width: 1px;
    background-color: #525771;
}
